@mixin section($padding: 60px) {
    padding-top: $padding;
    padding-bottom: $padding;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

 @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
}